#SET_SKEW XY=140.5,140.3,99.4 XZ=140.8,140.9,99.6 YZ=140.5,140.5,99.2
[include mainsail.cfg]
[include macros.cfg]

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
#max_accel_to_decel: 750
max_z_velocity: 5
square_corner_velocity: 5.0
max_z_accel: 100

[input_shaper]
shaper_freq_x: 29.8507
shaper_freq_y: 34.7222
shaper_type: mzv

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
#rotation_distance: 7.6190
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 100
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300
gear_ratio: 42:12
rotation_distance: 26.1891392
pressure_advance: 0.07 #Sunlu White Pla Plus

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
#hold_current: 0.500
stealthchop_threshold: 999999

[safe_z_home]
home_xy_position: 195, 120 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                # Move up 10mm
z_hop_speed: 5

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_min: 0
position_max: 310
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.600
#hold_current: 0.500
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 240
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.600
#hold_current: 0.500
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
# endstop_pin: ^PC2
# position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_min: -4
position_max: 280

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.600
#hold_current: 0.500
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan hotend_fan]
pin: PB15
heater: extruder
heater_temp: 50.0

[controller_fan electronic_enclosure_fan]
pin: PC7
idle_timeout: 60

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_09003A000650414235363020-if00
# serial: /dev/ttyAMA0
# restart_method: command

[output_pin beeper]
pin: PB5

[skew_correction]

[save_variables]
filename: ~/klipper_config/sovol/saved_variables.cfg

[bed_screws]
screw1: 42, 35
screw2: 250, 35
screw3: 42, 205
screw4: 250, 205

[screws_tilt_adjust]
screw1:97,205
screw1_name:back_left
screw2:305,35
screw2_name:front_right
screw3:305,205
screw3_name:back_right
screw4:97,35
screw4_name:front_left
screw_thread: CW-M4

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
x_offset: -55
y_offset: 0
#z_offset: 3.499
speed: 10
samples: 2
samples_result: average
probe_with_touch_mode: true
stow_on_each_sample: false


[bed_mesh]
speed: 100
mesh_min: 35, 20
mesh_max: 255, 220
algorithm: bicubic
probe_count: 4

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.045
#*# pid_ki = 1.087
#*# pid_kd = 973.235
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.976
#*# pid_ki = 1.320
#*# pid_kd = 99.945
#*#
#*# [bltouch]
#*# z_offset = 2.900
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.066250, -0.071250, -0.038750, -0.047500
#*# 	0.013750, -0.017500, -0.011250, -0.027500
#*# 	0.067500, -0.040000, 0.012500, 0.012500
#*# 	-0.077500, -0.130000, -0.081250, -0.110000
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 254.99
#*# min_y = 20.0
#*# max_y = 219.97
#*#
#*# [skew_correction sskew]
#*# xy_skew = 0.0014245064677677753
#*# xz_skew = -0.0007099752426328504
#*# yz_skew = -2.220446049250313e-16
